.container {
  box-sizing: border-box;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://img.freepik.com/free-vector/natural-landscape-background-theme_23-2148650336.jpg);
  background-size: cover;
  background-position: center;
}

.overlay-elements {
  position: relative;
}

.price {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.people {
  margin: 10px;
  gap: 5rem;
  display: flex;
}

.gap {
  height: 500px;
}

.bottom-elements {
  gap: 5rem;
  display: flex;
  justify-content: space-around;
}